# from http://shanesbrain.net/2008/7/9/using-xcode-with-git
# xcode noise
build/*
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile

# Xcode 4 additions
# from https://gist.github.com/708713 
*.xcuserstate
project.xcworkspace/
xcuserdata/
